<div class="container m-3 d-flex flex-column ">
  <div>

  <h1 class="text-center">Add a movie to <%= @list.name %></h1>
  </div>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-info mt-4" %>
  <% end %>
</div>
